div {
	border-radius: 5px;
	clear:both;
}

#header {
	height: 50px;
	background-color: #F38630;
	margin-bottom: 10px;
}

#footer {
	height: 50px;
	background-color: #69D2E7;
}

p{
	font-size: 20px;
	font-family: Cursive;
	float:left;
	width: 50%;

}

li{ 
font-size: 20px;
font-family: Garamond;
}

img{
	height: 300px;
	width: 300px;
	border: 1px solid: black;
}
h2{
	font-size: 50px;
font-family: Garamond;
}

body{
	background-color:#E0FFFF;
}



